<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Expense Categories</title>
</head>

<body>

    <header>
        <nav>
            {% if request.user.is_authenticated %}
            <ul>

                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            {% else %}
            <ul>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>

    <main>
        <h1>My Categories</h1>

        <table>
            <thead>
                <th>Name</th>
                <th>Account list</th>
            </thead>
            <tbody>
                {% for account in account_list %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{ account.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>
</body>

</html>