<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Receipt</title>
</head>

<body>
    <header>
        <nav>
            {% if request.user.is_authenticated %}
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'account_list' %}">Accounts</a></li>
                <li><a href="{% url 'category_list' %}">Expense Categories</a></li>
                <li><a href="{% url 'create_receipt' %}">Add Receipt</a></li>
                <li><a href="{% url 'create_account' %}">Add Account</a></li>
                <li><a href="{% url 'create_category' %}">Add Exepense Category</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            {% else %}
            <ul>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>

</html>